body {
    margin: 0px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

a {
    text-decoration: none;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.box1{
    width: 530px;
    height: 625px;
    background-image: url("1.png");
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}

.box1:after{
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url("2.png");
    left: 0px;
    z-index: -1;
}

@keyframes anim {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

@keyframes anim2 {
    from {
        left: 30%;
        width: 530px;
    }
    to {
        width: 0px;
        left: 50%;
    }
}

.box2 {
    width: auto;
    height: auto;
    font-family: 'Oxygen', sans-serif;
    color: white;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow: hidden;
}

.text {
    position: relative;
    font-size: 10em;
    left: -100%;
    animation: anim3 2s forwards 3s;
}

.body__text {
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 2s;
    font-size: 3em;
}

@keyframes anim3 {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.box3 {
    overflow: hidden;
}

.container {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}

.logo {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

.logo img {
    width: 50px;
}

.menu {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float: right;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    margin-left: 100px;
}

@keyframes anim4 {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }

}
